div{
    height: 300px;
    width: 300px;
    background-color: #cbcbaa;
    p{
        color: #0015a8;
        font-size: 40px;
    }
    span{
        font-size: 40px;
        color: #0bbadd;
        font-weight: 800;
    }
}