
*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
}
button{
    border: none;
    outline: none;
    cursor: pointer;
}

$navP: #182238;

.navbar{
    overflow: hidden;
    background-color: $navP;
    a{
        float: left;
        font-size: 16px;
        color: #fff;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    .dropdown{
        float: left;
        overflow: hidden;
        .dropbtn{
            font-size: 16px;
            color: #fff;
            padding: 14px 16px;
            background-color: inherit;
            margin: 0;
        }
        .dropdown-content{
            position: absolute;
            background-color: #3c4860;
            width: 100%;
            left: 0;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
            z-index: 1;
            display: none;
            .header{
                background-color: #4e5f81;
                padding: 16px;
                color: #fff;
                text-align: center;
            }
            .row{
                .col{
                    float: left;
                    width: 33.33%;
                    padding: 10px;
                    height: 200px;
                    h3{
                        text-align: center;
                        color: #b9c38f;
                    }
                    a{
                        float: none;
                        display: block;
                    }
                    a:hover{
                        background-color: #5571a8;
                    }
                }
            }
            .row:after{
                content: "";
                display: table;
                clear: both;
            }
        }
    }
    .dropdown:hover{
        .dropbtn{
            background-color: #123b6a;
        }
        .dropdown-content{
            display: block;
        }
    }
    a:hover{
        background-color: #123b6a;
    }
}
