*{margin: 0;font-family: sans-serif;box-sizing: border-box;}
button{border: none;cursor: pointer;outline: none;background-color: #228cea;}

body{
    padding: 10px;
}

h2{
    font-size: 50px;
}







