* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.slideshow-container .mySlides {
  display: none;
}
.slideshow-container .mySlides img{
    
  min-height: 100%;
  min-width: 100%;
}
.slideshow-container .prev, .slideshow-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
          user-select: none;
  text-decoration: none;
}
.slideshow-container .next {
  right: 0;
  border-radius: 3px 0px 0px 3px;
}
.slideshow-container .prev:hover, .slideshow-container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.slideshow-container .mySlides .numbertext {
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  color: #f2f2f2;
}
.slideshow-container .mySlides .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}
.slideshow-container .cdot {
  position: relative;
  bottom: 25px;
}
.slideshow-container .cdot .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}